/* css document */
/* zero out styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  border-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  outline: 0;
  text-align: left;
  text-indent: 0;
  vertical-align: baseline;
  background: none; }

html, body, div, applet, object, iframe, address, blockquote, pre, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, th, td {
  position: relative; }

html {
  font-size: 62.5%;
  /* reset font to 10px starting point */ }

a img, :link img, :visited img {
  border: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* end zero out styles */
/* SASS VARIABLES */
/* GENERAL STYLES */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body, .barcode, .btn-primary, .btn-dialog, #add-newcard {
  margin-left: auto;
  margin-right: auto; }

.h-page, .icon {
  display: inline-block; }

h1, h2, h3, h4, h5, .header, .main, p {
  text-align: center; }

.h-cardname, p {
  margin-bottom: 20px; }

.barcode, .reward-number {
  margin-bottom: 40px; }

.menu-sortcards, .h-page, .h-cardname, .h-md, #add-newcard > label, .reward-number {
  color: #4682B4; }

a {
  color: #FF7F50; }

/* HEADER STYLES */
.h-page, .h-cardname, .h-md {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.h-page {
  color: #FFFFFF;
  font-size: 1.6em; }

.h-cardname {
  font-size: 2.5em; }

.h-md {
  margin-bottom: 40px;
  font-size: 1.4em; }

/* BUTTON STYLES */
.btn-primary, .btn-dialog {
  width: 9em;
  height: 2.5em;
  border-radius: 2px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }

.btn:active {
  background: #707070;
  outline: 1px dashed #C0C0C0;
  outline-offset: -4px; }

.btn-primary {
  background: #FF7F50; }

.btn-dialog {
  background: #4682B4; }

.btn-group {
  margin-top: 50px; }

.btn-group .btn-primary:first-child {
  margin-right: 25px; }

/* IMAGE STYLES */
.icon-settings, .icon-success, .icon-warning, .icon-favorite, .icon-home, .icon-back, .icon-search, .icon-close, .icon-menu, .icon-add {
  background: url("../img/icon-sprites.png");
  background-repeat: no-repeat; }

.icon-settings, .icon-success, .icon-warning, .icon-favorite, .icon-home, .icon-back, .icon-search, .icon-close, .icon-menu {
  background-size: 150px auto;
  width: 30px;
  height: 30px; }

.icon-add {
  background-size: 225px;
  width: 45px;
  height: 45px; }

.icon-home, .icon-back, .icon-search {
  float: left; }

.icon-add {
  float: right; }

.icon-home {
  background-position: 0 -30px; }

.icon-menu {
  float: right;
  background-position: -120px -30px; }

.icon-add {
  position: fixed;
  right: 20px;
  bottom: 20px; }

/* PAGE STYLES */
body {
  max-width: 800px;
  font: 16px "Open Sans", sans-serif; }

.header {
  background: #4682B4;
  margin-bottom: 60px;
  padding: 10px 10px 12px; }

.listMenu > li {
  padding: 20px; }

.listMenu > li:nth-child(2n + 1) {
  background: #F8F8F8; }

.listMenu > li:nth-child(2n + 2) {
  background: #E0E0E0; }

.barcode {
  background: gray;
  width: 200px;
  height: 200px; }

.reward-number {
  font-size: 1.3em; }

/* FORM STYLES */
#add-newcard {
  width: 75%; }

label, input {
  display: block; }

label {
  padding-bottom: 10px; }

input {
  width: 100%;
  margin-bottom: 30px;
  padding: 8px;
  border: 1px solid #4682B4; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 0; }

.menu-sortoptions {
  background: #99CCFF;
  padding: 3px;
  font-size: 1em; }

option {
  background: blue; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #add-newcard {
    width: 50%; } }

/*# sourceMappingURL=global.css.map */
