@charset 'UTF-8';
@import 'reset';

/* Sass Variables */
$font-header: 'Raleway', sans-serif;
$font-stack: 'Open Sans', sans-serif;
$main-blue:#4682B4;
$accent-orange:#FF7F50;
$accent-lightblue:#99CCFF;
$accent-darkblue:#0000CD;
$accent-gray:#404041;
$color-code:#CC66CC;

/* General Styles */
.clearfix:after{
	content: ""; 
	display:table; 
	clear:both;
}
.center {
	margin-left:auto;
	margin-right:auto;
}
body, .barcode {
	@extend .center;
}
.h-page, .icon {
	display:inline-block;
}
h1, h2 , h3, h4, h5, .header, .main, p {
	text-align:center;
}
.h-cardname, p {
	margin-bottom: 20px;
}
.barcode, .reward-number {
	margin-bottom:40px;
}
.h-cardname, .reward-number {
	color:$main-blue;
}

/* Header Styles */
h1,h2,h3,h4,h5 {
	font-family:$font-header;
	font-weight:400;
}
.h-page {
	color:#FFFFFF;
	font-size:1.6em;
}
.h-cardname {
	font-size:2.5em;
}

/* Link Styles */


/* Button Styles */
.btn {
	@extend .center;
	width:10em;
	height:2.5em;
	border-radius:2px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:0.9em;
	text-align:center;
}
.btn:active {
	background:#707070;
	outline:1px dashed #C0C0C0;
	outline-offset:-4px;
}
.btn-primary, .btn-dialog {
	@extend .btn;
}
.btn-primary {
	background:$accent-orange;
}
.btn-dialog {
	background:$main-blue;
}

/* Image Styles */
.icon {
	background:url('../img/icon-sprites.png');
	background-size:150px auto;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
}
.icon-add, .icon-settings, .icon-success, .icon-warning, .icon-favorite,.icon-home, .icon-back, .icon-search, .icon-close, .icon-menu  {
	@extend .icon;
}
.icon-left {
	float:left;
}
.icon-home, .icon-back, .icon-search {
	@extend .icon-left;
}
.icon-home {
	background-position:0 -30px;
}
.icon-menu {
	float:right;
	background-position:-120px -30px;
}

/* Page Styles */
body {
	max-width:800px;
	font:16px $font-stack;
}
.header {
	background:$main-blue;
	margin-bottom:60px;
	padding:10px 10px 12px;
}
.barcode {
	background:gray;
	width:200px;
	height:200px;
}
.reward-number {
	font-size:1.3em;
}