@charset 'UTF-8';
@import 'reset';

/* SASS VARIABLES */
$font-header: 'Raleway', sans-serif;
$font-stack: 'Open Sans', sans-serif;
$main-blue:#4682B4;
$accent-orange:#FF7F50;
$accent-lightblue:#99CCFF;
$accent-darkblue:#0000CD;
$accent-gray:#404041;
$color-code:#CC66CC;

/* GENERAL STYLES */
.clearfix:after{
	content: ""; 
	display:table; 
	clear:both;
}
.center {
	margin-left:auto;
	margin-right:auto;
}
body, .barcode {
	@extend .center;
}
.h-page, .icon {
	display:inline-block;
}
h1, h2 , h3, h4, h5, .header, .main, p {
	text-align:center;
}
.h-cardname, p {
	margin-bottom: 20px;
}
.barcode, .reward-number {
	margin-bottom:40px;
}
.menu-sortcards, .h-cardname, .reward-number {
	color:$main-blue;
}

/* HEADER STYLES */
h1,h2,h3,h4,h5 {
	font-family:$font-header;
	font-weight:400;
}
.h-page {
	color:#FFFFFF;
	font-size:1.6em;
}
.h-cardname {
	font-size:2.5em;
}


/* BUTTON STYLES */
.btn {
	@extend .center;
	width:10em;
	height:2.5em;
	border-radius:2px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:0.9em;
	text-align:center;
}
.btn:active {
	background:#707070;
	outline:1px dashed #C0C0C0;
	outline-offset:-4px;
}
.btn-primary, .btn-dialog {
	@extend .btn;
}
.btn-primary {
	background:$accent-orange;
}
.btn-dialog {
	background:$main-blue;
}

/* IMAGE STYLES */
%icon {
	background:url('../img/icon-sprites.png');
	background-repeat:no-repeat;
}
%icon-reg, %icon-lg {
	@extend %icon;
}
%icon-reg {
	background-size:150px auto;
	width:30px;
	height:30px;
}
%icon-lg {
	background-size:225px;
	width:45px;
	height:45px;
}
.icon-settings, .icon-success, .icon-warning, .icon-favorite,.icon-home, .icon-back, .icon-search, .icon-close, .icon-menu  {
	@extend %icon-reg;
}
.icon-add {
	@extend %icon-lg
}
%icon-left {
	float:left;
}
%icon-right {
	float:right;
}
.icon-home, .icon-back, .icon-search {
	@extend %icon-left;
}
.icon-home {
	background-position:0 -30px;
}
.icon-menu {
	float:right;
	background-position:-120px -30px;
}
.icon-add {
	@extend %icon-right;
	position:fixed;
	right:20px;
	bottom:20px;
}

/* PAGE STYLES */
body {
	max-width:800px;
	font:16px $font-stack;
}
.header {
	background:$main-blue;
	margin-bottom:60px;
	padding:10px 10px 12px;
}
.listMenu > li {
	padding:20px;
}
.listMenu > li:nth-child(2n + 1) {
	background:#F8F8F8;
}
.listMenu > li:nth-child(2n + 2) {
	background:#E0E0E0;
}
.barcode {
	background:gray;
	width:200px;
	height:200px;
}
.reward-number {
	font-size:1.3em;
}

/* FORM STYLES */
select {
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border:0;
}
.menu-sortoptions {
	background:$accent-lightblue;
	padding:3px;
	font-size:1em;
}
option {
	background:blue;
}